/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03-Jan-2017, 22:37:45
    Author     : Saminda Permauna
*/
.content {
    background-image: url('../img/bg.png');
    color: lightgreen;
    padding-bottom: 50px;
}

.panel {
    background: transparent;
}

.nav-label {
    width: 100%;
    color: lightgreen;
    display: inline-block;
} 

@media only screen and (max-width: 800px) {

    /* Force table to not be like tables anymore */
    #no-more-tables table, 
    #no-more-tables thead, 
    #no-more-tables tbody, 
    #no-more-tables th, 
    #no-more-tables td, 
    #no-more-tables tr { 
        display: block; 
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    #no-more-tables thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #no-more-tables tr { 
        border: 1px solid #ccc; 
        margin: -10px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    #no-more-tables td { 
        /* Behave  like a "row" */
        border: none;
        /*border-bottom: 1px solid #eee;*/ 
        position: relative;
        padding-left: 50%; 
        white-space: normal;
        text-align:left;
    }

    #no-more-tables td:before { 
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
    }

    /*
    Label the data
    */
    #no-more-tables td:before { 
        content: attr(data-title); 
    }

    .responsive-cell {
        text-align: right !important;
    }

    .header-cell {
        background: grey;
    }

    .cell-centered {
        padding-left: 0 !important;
        text-align: center !important;
    }

    .content {
        padding-bottom: 0;
    }
}